@media screen and (max-width: 480px) {
	.caixa {
		width: auto;
  }


	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}

* {
  font-family: 'Raleway', sans-serif;
}

header {
  background: #524A4E;
  padding: 20px 0;
}

.nome {
  color: #FFC0D3;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
 nav {
   position: absolute;
   right: 0;
   top: 0;
 }

 nav li {
   display: inline;
   margin-left: 15px;
 }

 nav a {
   text-decoration: none;
   color: #FFC0D3;
 }

 nav a:hover {
   color: #FFA8B8;
   text-decoration: underline;
 }

.links {
  text-align: center;
}
 .links li {
   display: inline;
   margin-left: 15px;
 }

 .links a {
   text-decoration: none;
   color: #FFC0D3;
 }

 .links a:hover {
   color: #FFA8B8;
   text-decoration: underline;
 }
