* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

body {
  background: #FDEFF4;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #FDEFF4;
  padding: 20px 0;
  z-index: 2;
}

nav {
   position: absolute;
   right: 0;
   top: 0;
 }

header h1 a {
  color: #FF5C8D;
  text-decoration: none;
  font-size: 20px;
}

nav li {
   display: inline;
   margin-left: 15px;
 }

header li a {
  padding: 0 10px;
  color: #FF5C8D;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header li a:hover {
  color: #FFA8B8;
  text-decoration: underline;
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}


.apresentacao {
  padding: 6em 0 2em;
  margin: 0 auto;
}

.titulo-apresentacao {
  font-size: 3em;
  margin: 0 0 -1em;
  color: #524A4E;
}

.conteudo-apresentacao {
  width: 940px;
  margin: 0 auto;
}

.texto-apresentacao {
  width: 70%;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
  margin: 4em 0;
}

.imagem-apresentacao {
  width: 29%;
  border-radius: 50%;
  float: right;
}

.links {
  display: flex;
    align-items: center;
    justify-content: flex-start;
}
 .links li {
   display: inline;
   margin-left: 15px;
   padding-top: 2.65rem;
    margin-right: 3.266rem;
 }

 .links a {
   text-decoration: none;
   color: #FF5C8D;
   font-weight: bold;
 }

 .links a:hover {
   color: #FFA8B8;
   text-decoration: underline;
 }

 #sobre-mim {
   padding: 2em 0;
   margin: 0 auto;
   background: #FFC0D3;
 }

 .titulo {
   font-size: 2em;
   margin: 1em 0;
   color: #524A4E;
 }

 .conteudo-sobre {
   width: 940px;
   margin: 0 auto;
 }

.texto-sobre {
  padding: 1em 0;
}

.assinatura {
 font-family: 'Gwendolyn', cursive;
 font-size: 2em;
 color: #524A4E;
}

#skills {
  padding: 2em 0;
  margin: 0 auto;
}

.skills {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.skills-lista li {
  display: inline-block;
  text-align: center;
  width: 16%;
  vertical-align: top;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 10%;
  background: #FFC0D3;
}

.titulo-skill {
  color: #FF5C8D;
}

 @media screen and (max-width: 767px) {
   .caixa, .conteudo-apresentacao, .conteudo-sobre, .skills{
     width: 100%;
     padding: 0 0em 0px 1em;
   }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background: #FDEFF4;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  header ul.lista {
    padding: 0;
  }

  header ul.lista li {
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header li a {
    display: block;
    padding: 15px 10px;
  }

  header li a:hover {
    background-color: #FDEFF4;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #FF5C8D;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #FF5C8D;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    display: block;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  header+section {
    padding-top: 80px;
  }

  section {
    padding: 30px 15px 10px;
  }

  .imagem-apresentacao {
    width: 100%;
    height: auto;
    padding: 0 1em 0px 0em;
  }

  @media screen and (max-width: 480px) {
  header h1 {
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
  }
}
